.header {
    background-image: url("https://cdn.diferenciador.com/imagenes/tipos-de-computadoras-og.jpg");
    image-resolution: 100%;
    height: 100%;
    height: 500px;
}
.titulo{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(0, 0, 0, 0.678);
    background-color: rgba(155, 112, 34, 0.589);
    margin-right: 200px;
    margin-left: 200px;
    padding: 10px 10px;
}
.topNav{
    margin-top: 300px;
    background-color: rgba(250, 235, 215, 0.623);
    padding: 15px;
    float: right;
}
.topNav a{
    margin: 5px;
    text-decoration: none;
    color: black;
}
.topNav a:hover{
    color: white;
}
.leftMenu{
    width: 15%;
    background-color: aqua;
    float: left;
    padding: 15px;
    height: 1000px;
}
.rightMenu{
    width: 25%;
    background-color: aqua;
    float: left;
    padding: 15px;
    height: 1000px;
}
.menuMain{
    width: 50%;
    background-color: rgba(216, 118, 5, 0.63);
    float: left;
    padding: 15px;
    height: 1000px;
    text-align: center;
}
.menuMain img{
    width: 90%;
}
.menuMain p{
    font-size: 25px;
}
.menuMain p:hover{
    color: blueviolet;
}
.leftMenu p{
    text-align: center;
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgba(165, 42, 42, 0.432);
    padding: 10px 10px;
}
.rightMenu p{
    text-align: center;
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgba(165, 42, 42, 0.432);
    padding: 10px 10px;
}